In [1]:
import pandas as pd
import numpy as np

## trade

In [2]:
trade = pd.read_csv("trade_train.csv")

- 6월데이터만

In [6]:
trade_6 = trade[trade['기준년월']==202006]
trade_6

,Unnamed: 0,기준년월,그룹번호,그룹내고객수,종목번호,그룹내_매수여부,그룹내_매도여부,매수고객수,매도고객수,평균매수수량,평균매도수량,매수가격_중앙값,매도가격_중앙값
25285,25285,202006,MAD01,288,A000660,Y,Y,62,58,121,212,84755,86300
25286,25286,202006,MAD01,288,A000990,Y,Y,4,3,705,833,28546,28850
25287,25287,202006,MAD01,288,A001820,Y,Y,4,5,340,145,52994,55950
25288,25288,202006,MAD01,288,A003620,Y,Y,3,4,3617,3675,2391,2425
25289,25289,202006,MAD01,288,A005380,Y,Y,9,9,32,21,111500,100000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
30195,30195,202006,MAD48,163,A207940,Y,Y,3,4,3,3,835000,797000
30196,30196,202006,MAD48,163,A272210,Y,Y,3,3,90,42,9900,8870
30197,30197,202006,MAD48,163,A285130,Y,Y,6,4,271,162,109100,98000
30198,30198,202006,MAD48,163,A316140,Y,Y,5,4,386,735,10050,9920
30199,30199,202006,MAD48,163,A336260,Y,Y,5,4,200,190,34682,34489

In [4]:
group_name = trade['그룹번호'].unique()
group_name

array(['MAD01', 'MAD02', 'MAD03', 'MAD04', 'MAD05', 'MAD06', 'MAD07',
       'MAD08', 'MAD09', 'MAD10', 'MAD11', 'MAD12', 'MAD13', 'MAD14',
       'MAD15', 'MAD16', 'MAD17', 'MAD18', 'MAD19', 'MAD20', 'MAD21',
       'MAD22', 'MAD23', 'MAD24', 'MAD25', 'MAD26', 'MAD27', 'MAD28',
       'MAD29', 'MAD30', 'MAD31', 'MAD32', 'MAD33', 'MAD34', 'MAD35',
       'MAD36', 'MAD37', 'MAD38', 'MAD39', 'MAD41', 'MAD42', 'MAD43',
       'MAD44', 'MAD45', 'MAD46', 'MAD47', 'MAD48', 'MAD40'], dtype=object)

### 하나의 그룹 시도

In [8]:
group1 = trade_6[trade_6['그룹번호']==group_name[0]]
group1

,Unnamed: 0,기준년월,그룹번호,그룹내고객수,종목번호,그룹내_매수여부,그룹내_매도여부,매수고객수,매도고객수,평균매수수량,평균매도수량,매수가격_중앙값,매도가격_중앙값
25285,25285,202006,MAD01,288,A000660,Y,Y,62,58,121,212,84755,86300
25286,25286,202006,MAD01,288,A000990,Y,Y,4,3,705,833,28546,28850
25287,25287,202006,MAD01,288,A001820,Y,Y,4,5,340,145,52994,55950
25288,25288,202006,MAD01,288,A003620,Y,Y,3,4,3617,3675,2391,2425
25289,25289,202006,MAD01,288,A005380,Y,Y,9,9,32,21,111500,100000
25290,25290,202006,MAD01,288,A005490,Y,Y,3,4,37,41,188000,189000
25291,25291,202006,MAD01,288,A005930,Y,Y,105,64,219,287,52600,53500
25292,25292,202006,MAD01,288,A005935,Y,Y,45,28,149,190,46800,47638
25293,25293,202006,MAD01,288,A006400,Y,Y,31,25,31,39,381500,381500
25294,25294,202006,MAD01,288,A006800,Y,Y,4,3,1265,571,7136,6910
25295,25295,202006,MAD01,288,A008770,Y,Y,5,6,139,152,82300,79800
25296,25296,202006,MAD01,288,A009150,Y,Y,18,26,131,230,129500,132000
25297,25297,202006,MAD01,288,A010140,Y,Y,7,9,492,4233,5869,6380
25298,25298,202006,MAD01,288,A011070,Y,Y,3,5,50,545,162291,158387
25299,25299,202006,MAD01,288,A012330,Y,Y,5,5,60,41,199833,196000
25300,25300,202006,MAD01,288,A017960,Y,Y,3,3,285,274,8537,8529
25301,25301,202006,MAD01,288,A020150,Y,Y,7,9,132,159,48898,49816
25302,25302,202006,MAD01,288,A020560,N,Y,0,3,0,63,-1,4095
25303,25303,202006,MAD01,288,A032500,Y,Y,5,5,83,120,61100,60600
25304,25304,202006,MAD01,288,A034220,Y,Y,6,5,374,1571,11500,11900
25305,25305,202006,MAD01,288,A035420,Y,Y,5,5,7,9,232200,245000
25306,25306,202006,MAD01,288,A035720,Y,Y,7,7,15,12,260500,256500
25307,25307,202006,MAD01,288,A036460,Y,N,3,0,67,0,26600,-1
25308,25308,202006,MAD01,288,A042660,Y,Y,3,4,61,67,26227,26015
25309,25309,202006,MAD01,288,A051910,Y,Y,5,13,16,72,446000,456500
25310,25310,202006,MAD01,288,A061970,Y,Y,3,3,1256,1397,8592,9500
25311,25311,202006,MAD01,288,A065450,Y,Y,8,6,204,178,11000,11700
25312,25312,202006,MAD01,288,A066570,Y,Y,28,29,202,258,68100,67363
25313,25313,202006,MAD01,288,A068270,Y,Y,5,9,18,36,229500,228000
25314,25314,202006,MAD01,288,A078600,Y,Y,3,3,18,18,36084,36400
25315,25315,202006,MAD01,288,A086520,Y,Y,4,3,482,334,31550,31850
25316,25316,202006,MAD01,288,A090430,Y,Y,5,3,31,229,175000,157000
25317,25317,202006,MAD01,288,A091990,Y,Y,3,4,132,162,94400,99009
25318,25318,202006,MAD01,288,A096770,Y,Y,6,8,636,538,125479,125500
25319,25319,202006,MAD01,288,A105560,Y,Y,4,6,27,51,38236,36100
25320,25320,202006,MAD01,288,A112610,Y,Y,4,4,80,244,41597,42137
25321,25321,202006,MAD01,288,A207940,Y,Y,4,4,12,40,816000,629000
25322,25322,202006,MAD01,288,A218410,Y,Y,4,3,27,1,36900,36850
25323,25323,202006,MAD01,288,A253450,N,Y,0,3,0,81,-1,82000
25324,25324,202006,MAD01,288,A336370,Y,Y,4,4,82,143,36600,42827

In [9]:
top3 = group1.sort_values(by=['매수고객수'], ascending=False).head(3)     # top3
top3

,Unnamed: 0,기준년월,그룹번호,그룹내고객수,종목번호,그룹내_매수여부,그룹내_매도여부,매수고객수,매도고객수,평균매수수량,평균매도수량,매수가격_중앙값,매도가격_중앙값
25291,25291,202006,MAD01,288,A005930,Y,Y,105,64,219,287,52600,53500
25285,25285,202006,MAD01,288,A000660,Y,Y,62,58,121,212,84755,86300
25292,25292,202006,MAD01,288,A005935,Y,Y,45,28,149,190,46800,47638

In [24]:
top3 = trade_6.iloc[[0]] #pd.DataFrame(columns=[df_1.columns.tolist()])
#top3 = top3.drop(0,axis=0) 
#top3

for i in group_name : 
    group1 = trade_6[trade_6['그룹번호']==i]
    top = group1.sort_values(by=['매수고객수'], ascending=False).head(3)     # top3
    top3 = pd.concat([top3,top], axis=0,ignore_index=True)

In [25]:
top3 = top3.drop(0,axis=0)

In [36]:
top3 = top3[['그룹번호', '종목번호']]
top3['6월top3여부'] = 1
top3

      그룹번호     종목번호  6월top3여부
1    MAD01  A005930         1
2    MAD01  A000660         1
3    MAD01  A005935         1
4    MAD02  A005930         1
5    MAD02  A105560         1
..     ...      ...       ...
140  MAD48  A051910         1
141  MAD48  A035720         1
142  MAD40  A034730         1
143  MAD40  A035420         1
144  MAD40  A005930         1

[144 rows x 3 columns]

## 그룹별 답 데이터 만들기

In [27]:
stock = pd.read_csv("stocks.csv")
stock

,index,기준일자,종목번호,종목명,20년7월TOP3대상여부,시장구분,표준산업구분코드_대분류,표준산업구분코드_중분류,표준산업구분코드_소분류,종목시가,종목고가,종목저가,종목종가,거래량,거래금액_만원단위
0,0,20190701,A000020,동화약품,N,코스피,제조업,의료용 물질 및 의약품 제조업,의약품 제조업,9680,9840,9680,9710,31341,30581
1,1,20190701,A000080,하이트진로,N,코스피,제조업,음료 제조업,알코올음료 제조업,20550,20550,20200,20300,127186,258535
2,2,20190701,A000100,유한양행,Y,코스피,제조업,의료용 물질 및 의약품 제조업,의약품 제조업,259000,267500,250000,251500,395757,10139357
3,3,20190701,A000120,CJ대한통운,N,코스피,운수 및 창고업,육상운송 및 파이프라인 운송업,도로 화물 운송업,136500,137000,133000,136000,62513,846100
4,4,20190701,A000140,하이트진로홀딩스,Y,코스피,금융 및 보험업,금융업,기타 금융업,9060,9190,8910,9000,7661,6896
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
286056,286056,20200728,A336370,두산솔루스,N,코스피,제조업,통신장비 제조업,전자부품 제조업,37050,39150,37000,38150,1764085,6755086
286057,286057,20200728,A33637K,두산솔루스1우,N,코스피,제조업,통신장비 제조업,전자부품 제조업,18100,19350,17950,18250,302925,565624
286058,286058,20200728,A33637L,두산솔루스2우B,N,코스피,제조업,통신장비 제조업,전자부품 제조업,37000,38650,36500,37700,59460,224214
286059,286059,20200728,A344820,케이씨씨글라스,N,코스피,제조업,비금속 광물제품 제조업,유리 및 유리제품 제조업,33500,33500,32250,32400,56962,186549
286060,286060,20200728,A353810,이지바이오,Y,코스닥,제조업,식료품 제조업,동물용 사료 및 조제식품 제조업,58900,60300,57400,57500,76761,450070

In [29]:
stock_name = stock['종목번호'].unique()
stock_name

array(['A000020', 'A000080', 'A000100', ..., 'A353810', 'A298060',
       'A297890'], dtype=object)

In [31]:
stock_unique = pd.DataFrame(stock_name,columns=['종목번호'])
stock_unique

         종목번호
0     A000020
1     A000080
2     A000100
3     A000120
4     A000140
...       ...
1082  A237820
1083  A198080
1084  A353810
1085  A298060
1086  A297890

[1087 rows x 1 columns]

In [38]:
top3_group1 = top3[top3['그룹번호']==group_name[0]]
top3_group1

    그룹번호     종목번호  6월top3여부
1  MAD01  A005930         1
2  MAD01  A000660         1
3  MAD01  A005935         1

In [ ]:
pd.merge(stock_unique[])